:root {
    --background-color: #F2F0EB;
    --container-background-color: #F9F9F9;
    --chart-green: #5AE12A
}

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

button {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
  }
  
button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
}

.sidenav {
    height: 100%; 
    width: 00; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; 
    transition: 0.5s;
    box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.2);
}

.setting_list {
    display: flex;
    background-color: #F9F9F9;
    margin-top: 20px;
    min-height: 54px;
    align-items: center;
    padding-left: 20px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 160px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    color: #9A9A9A;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    color: #9A9A9A;
    margin-top: 150px;
}

/* The switch - the box around the slider */
input {
    position: relative;
    margin-right: 1%;
    width: 20px;
    height: 20px;
}

/* input[type=checkbox]:checked {
    background-color: greenyellow;
} */

#main {
    background-color: #F2F0EB;
    margin-left: 150px;
    margin-top: 10px;
    margin-right: 150px;
}

textarea {
    font-family: 'Poppins', sans-serif;
    resize: none;
    height: 50px;
    width: 300px;
    border-radius: 6px;
    background-color: #F9F9F9;
    border: 2px solid #5AC43B;
}

#setting {
    width: 48px;
    height: 48px;
    margin-left: 36px;
    margin-top: 36px;
    background: var(--container-background-color);
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    border-color: #F9F9F9;
    border-style: none;
    border-radius: 32px;
}

#setting_icon {
    position: relative;
    width: 80%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

#setting_title {
    font-weight: 600;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

#setting_content {
    display: flexbox;
    margin-left: 50px;
    margin-right: 50px;
}

#setting_close_button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #ccc;
}

#whitelist_button {
    width: 50px;
    text-align: center;
    color: white;
    background-color:#00754a;
}

#whitelist_button:hover {
    color: white;
    background-color:#5AC43B;
}

#whitelist_button:active {
    color: black;
    background-color:gray;
}

#date_selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#date_selector button {
    height: 37px; 
    width: 104px; 
    font-size: 24px; 
    border: 0;
    background-color: var(--background-color);
    margin-top: 10px;
    font: 400;
    font-family: 'Poppins', sans-serif; /* not sure why we have to specify here*/
}

#selector button {
    height: 37px; 
    width: 104px; 
    font-size: 24px; 
    border: 0;
    background-color: #F2F0EB;
    margin-top: 10px;
}

#selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

#display {
    display: flex;
    flex-direction: row;
    width: 650px;
    height: 150px;
    background-color: #F9F9F9;
    border-radius: 15px;
}

#data_chart {
    width: calc((100% - 20px) / 2); 
    background-color: #F9F9F9; 
    border-radius: 20px;
    margin-top: 30px;
}

#data_chart #activity_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#data_chart #date_range {
    background: #DCFFCF;
    border: 1px solid #5AC43B;
    box-sizing: border-box;
    border-radius: 5px;
    color: #5AC43B;
    font-size: 18px;
    margin-top: 24px;
    margin-right: 15px;
}

#data_chart #activity_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    margin-left: 40px;
    margin-top: 24px;
}


#activity_container #spacer {
    margin-left: 55%;
}

#stats_view {
    display: flex;
    flex-direction: row;
}

#stats_view #spacer {
    width: 40px;
}

#data_chart .chart {
    position: relative;
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    object-fit: contain;
}

#display div {
    width: 50%;
    border-radius: 15px;
}

#display #separator {
    position: relative;
    border-left: 1px solid rgb(203, 203, 203);
    height: 60%;
    margin-top: 30px;
}

#stats_container .numbers {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}

#stats_container {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

#stats_container #title {
    height: min-content;
    width:300px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#content_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
}

#time_container {
    display: flex;
    flex-direction: column;
}

#comparison {
    position: relative;
    font-size: 12px;
    width: 200px;
    line-height: 18px;
}

#comparison .comp_plus {
    color: #E25F3F;
}

#comparison .comp_minus {
    color: #00754a;
}

#main_stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#timesheet .timesheet_row {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: var(--container-background-color);
    border-radius: 18px;
    height: 70px;
}

#timesheet img {
    margin-left: 20px;
}

#timesheet_container_title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-top: 50px;
}

#timesheet .timesheet_row #title {
    margin-left: 40px;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
}
#timesheet .timesheet_row #spacer {
    margin-left: 70%;
}

#timesheet .timesheet_row  #time {
    margin-right: 20px;
}

#timesheet .timesheet_row  #time .numbers {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}